SITE_TITLE=JupyterHealth Exchange Dev
REGISTRATION_INVITE_CODE=helloworld

SITE_URL=http://localhost:8000

OIDC_CLIENT_AUTHORITY_PATH=/o/
OIDC_CLIENT_REDIRECT_URI_PATH=/auth/callback
OIDC_CLIENT_ID=Abc123

CH_INVITATION_LINK_PREFIX="https://play.google.com/store/apps/details?id=org.thecommonsproject.android.phr.dev&referrer=cloud_sharing_code="
# CH_INVITATION_LINK_EXCLUDE_HOST=True

DB_NAME=jhe_dev
DB_USER=jheuser
DB_PASSWORD=jhepassword
DB_HOST=localhost
# Use host.docker.internal if connecting to localhost from Docker
DB_PORT=5432

OIDC_RSA_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\Abc123\n-----END RSA PRIVATE KEY-----"
PATIENT_AUTHORIZATION_CODE_CHALLENGE= 'abc123'
PATIENT_AUTHORIZATION_CODE_VERIFIER = 'abc123'

DJANGO_LOG_LEVEL=INFO