[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2"
python-dotenv = "*"
psycopg2 = "*"
django-oauth-toolkit = "*"
six = "*"
requests = "*"
pyjwt = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework-camel-case = "*"
"fhir.resources" = "==7.1.0"
pydantic = "*"
pydantic-core = "*"
pyhumps = "*"
coverage = "*"
django-allauth = "*"
faker = "*"
drf-spectacular = "*"
grafana-django-saml2-auth = "*"
pre-commit = "*"
jsonschema = "*"


[dev-packages]

[requires]
python_version = "3.11"
