# Most values and secrets should live in the DB as a JheSetting
# ENVs are only for startup values required before JheSettings are bootstrapped

DEBUG=True # Static assest will not be served locally without this set to True; set to False in production
SITE_URL="http://localhost:8000"

DB_NAME="jhe_dev"
DB_USER="jheuser"
DB_PASSWORD="jhepassword"
DB_HOST="localhost" # Use host.docker.internal if connecting to localhost from Docker
DB_PORT=5432

OIDC_RSA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMII... <output of: $ openssl genrsa -out oidc.key 4096> ...H67\n-----END PRIVATE KEY-----"

# If unset, a random value is generated; this breaks when running multiple workers (must be the same across all workers)
SECRET_KEY=
