[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.2.14"
python-dotenv = "*"
psycopg2-binary = "*"
django-oauth-toolkit = "*"
six = "*"
requests = "*"
pyjwt = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework-camel-case = "*"
"fhir.resources" = "==7.1.0"
pydantic = "*"
pydantic-core = "*"
pyhumps = "*"
django-allauth = "*"
faker = "*"
drf-spectacular = "*"
grafana-django-saml2-auth = "*"
jsonschema = "*"
ipython = "*"
dictor = "*"
boto3 = "*"
omh-shim = "==1.0.2"

[dev-packages]
coverage = "*"
responses = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
