[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.0.*"
python-dotenv = "*"
psycopg2-binary = "*"
django-oauth-toolkit = "*"
six = "*"
requests = "*"
pyjwt = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework-camel-case = "*"
"fhir.resources" = "==7.1.0"
pydantic = "*"
pydantic-core = "*"
pyhumps = "*"
django-allauth = "*"
faker = "*"
drf-spectacular = "*"
grafana-django-saml2-auth = "*"
jsonschema = "*"
ipython = "*"
boto3 = "*"
dictor = "*"
omh-shim = {git = "https://github.com/the-commons-project/omh-shim.git", ref = "832c1e84e247dfe01dfa0b8f70bea6637292ca29"}

[dev-packages]
coverage = "*"
responses = "*"
pre-commit = "*"
pytest-cov = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"
