{% extends "partials/base_accounts_forms.html" %}

{% block title %}Log In{% endblock %}

{% block prompt %}Exchange Log In{% endblock %}

{% block form_fields %}

<div class="form-floating">
  <input name="username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

<!-- div class="checkbox mb-3 mt-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div -->

<button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Log In</button>
<!-- https://docs.djangoproject.com/en/5.0/topics/auth/default/#using-the-views -->

<p class="mt-3">
{% if SAML2_ENABLED %}
    <a class="btn btn-primary" href="{% url 'saml_signin' %}">Continue with SAML2</a>
{% endif %}
</p>


<div class="mt-4"><a href="{% url 'password_reset' %}">Forgot Password</a> | <a href="{% url 'signup' %}">Sign Up</a></div>

{% endblock %}
