{% extends "partials/base_accounts_forms.html" %}

{% block title %}
Reset Email Sent
{% endblock %}

{% block prompt %}
Check Your Email
{% endblock %}

{% block form_fields %}
<div class="alert alert-info">
  We've emailed you instructions for setting your password. You should receive
  them shortly. If you don't receive an email, please make sure you've entered
  the address you registered with, and check your spam folder.
</div>

<div class="mt-4"><a href="{% url 'login' %}">Back to Log In</a></div>
{% endblock %}
