{% verbatim %}
<script id="t-fhir" type="text/template">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <table>
      <tr>
        <td class="pe-3">
          <select
            id="organizationForFhir"
            class="form-control form-select"
            onchange="nav('fhir', null, {organizationId: this.value})"
          >
            {{#organizationForFhirSelect}} {{#if selected}}
              <option value="{{id}}" selected>{{name}}</option>
            {{else}}
              <option value="{{id}}">{{name}}</option>
            {{/if}} {{/organizationForFhirSelect}}
          </select>
        </td>
        <td class="pe-3">
          <select
            id="studyForFhir"
            class="form-control form-select"
            onchange="this.value == 'all' ? nav('fhir',{ organizationId: {{organizationId}}, page: 1, studyId: null }) : nav('fhir',{studyId: this.value, organizationId: {{organizationId}}, page: 1 })"
          >
              <option value="all">All Studies</option>
            {{#studyForFhirSelect}} {{#if selected}}
              <option value="{{id}}" selected>{{name}}</option>
            {{else}}
              <option value="{{id}}">{{name}}</option>
            {{/if}} {{/studyForFhirSelect}}
          </select>
        </td>
        <td class="pe-3">
          <select
            id="resourceForFhir"
            class="form-control form-select"
            onchange="nav('fhir', null, {...getCurrentRouteAndParams().params, resource: this.value, page: 1})"
          >
            {{#resourceForFhirSelect}} {{#if selected}}
              <option value="{{name}}" selected>{{name}}</option>
            {{else}}
              <option value="{{name}}">{{name}}</option>
            {{/if}} {{/resourceForFhirSelect}}
          </select>
        </td>
      </tr>
    </table>
    <div class="d-flex align-items-center flex-wrap gap-2">
      <span class="d-inline-flex align-items-center text-nowrap me-3">Page
        <input
          type="number"
          class="form-control form-control-sm d-inline-block mx-2"
          style="width: 60px;"
          value="{{page}}"
          min="1"
          max="{{totalPages}}"
          onchange="nav('fhir', null, {...getCurrentRouteAndParams().params, page: this.value})"
          onkeydown="if(event.key === 'Enter') { event.preventDefault(); nav('fhir', null, {...getCurrentRouteAndParams().params, page: this.value}) }"
        /> of {{totalPages}}
      </span>
      <span class="d-inline-flex align-items-center text-nowrap">
        <select
          class="form-select form-select-sm me-2"
          style="width: auto;"
          onchange="nav('fhir', null, {...getCurrentRouteAndParams().params, pageSize: this.value, page: 1})"
        >
          {{#each pageSizes}}
            <option value="{{this}}" {{#if (eq ../pageSize this)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
        per page
      </span>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Patient ID</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      {{#fhir}}
        <tr>
          <td>{{id}}</td>
          <td>{{patientId}}</td>
          <td><pre>{{fhirData}}</pre></td>
        </tr>
      {{/fhir}}
    </tbody>
  </table>
</script>
{% endverbatim %}
