{% extends "clients/ow/base.html" %}
{% block title %}We couldn't connect your wearable{% endblock %}

{% block pf_content %}
{% include "common/patient_facing/components/header.html" %}
{% url 'patient-landing' as hub_url %}
{% include "common/patient_facing/components/back_link.html" with back_url=hub_url %}

<div class="pf-error">
  <div class="pf-error__icon"><i class="bi bi-exclamation-circle"></i></div>
  <div class="pf-error__body">
    <div class="pf-error__title">We couldn't connect your wearable</div>
    <p class="pf-error__msg">{{ error }}</p>
  </div>
</div>
<div class="pf-actions">
  <a class="pf-btn" href="{% url 'ow-launch' %}">Try again</a>
  <a class="pf-btn pf-btn--ghost" href="{{ hub_url }}">Back</a>
</div>
{% endblock %}
