{% load static %}

<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>{{ SITE_TITLE }} - {% block title %}{% endblock %}</title>
    <script src="/portal/settings.js"></script>
    <script src="/static/oidc.js"></script>
    <script src="/static/common.js"></script>
    <script src="/static/client.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap-icons.min.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    {% block head %} {% endblock %}
  </head>
  <body class="h-100" id="baseBody" {% block body_tag %}{% endblock %}>
    {% block body_content %} {% endblock %}
    <!-- Load order for OIDC is finicky -->
    <script
      onload="window.initOidc();"
      src="{% static 'oidc-client-ts.min.js' %}"
    ></script>
    <script src="{% static 'handlebars.min.js' %}"></script>
    <!-- For Bootstrap support, see: https://getbootstrap.com/docs/4.0/getting-started/introduction/#js-->
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% block body_footer %}{% endblock %}
  </body>
  {% block html_footer %}{% endblock %}
</html>
