{% extends "common/partials/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'common/css/patient-facing.css' %}?v={{ JHE_VERSION }}" />
  {% if SITE_THEME_CSS %}<link rel="stylesheet" href="{% static SITE_THEME_CSS %}?v={{ JHE_VERSION }}" />{% endif %}
  {% block pf_head %}{% endblock %}
{% endblock %}

{% block body_content %}
  <div class="pf-page">
    <div class="pf-page__inner">
      {% include "common/patient_facing/components/header.html" %}
      {% block pf_back %}<a class="pf-back" href="{% url 'patient-landing' %}"><i class="bi bi-arrow-left"></i> Back</a>{% endblock %}
      {% block pf_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
