{% with step=active_step|default:1 %}
<ol class="pf-rail">
  <li class="pf-rail__step{% if step == 1 %} is-active{% elif step > 1 %} is-done{% endif %}">
    <span class="pf-rail__num">1</span>
    <span class="pf-rail__label">Choose organization</span>
  </li>
  <li class="pf-rail__step{% if step == 2 %} is-active{% elif step > 2 %} is-done{% endif %}">
    <span class="pf-rail__num">2</span>
    <span class="pf-rail__label">Sign in</span>
  </li>
  <li class="pf-rail__step{% if step == 3 %} is-active{% elif step > 3 %} is-done{% endif %}">
    <span class="pf-rail__num">3</span>
    <span class="pf-rail__label">Import records</span>
  </li>
</ol>
{% endwith %}
